<header class="header">
  <nav>
    <ul class="header-nav">
      <li><a href="/"><strong>Home</strong></a></li>
      <li><a href="/about"><strong>About</strong></a></li>
      <li><a href="/palindrome"><strong>Is It a Palindrome?</strong></a></li>
    </ul>
  </nav>
</header>
